#content {
	display: flex;
	--border: 1.5px solid lightgrey;
}

.side-panel {
	width: 250px;
	border-right: var(--border);
	border-left: var(--border);
	background: var(--background);

	#admin-panel {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 10px;

		.admin-label {
			width: 100%;
			margin-bottom: 25px;
			border-bottom: var(--border);

			font-size: 30px;
			font-family: FtAnimaRegular;
			line-height: 50px;
			text-align: center;
		}

		.admin-image {
			background: url("http://fooxboy.ru:3000/avatars/78afb4bd-1ff8-4d81-8975-715cdc5884fe.png");
			background-size: cover;
			border-radius: 999px;

			width: 180px;
			aspect-ratio: 1/1;
		}

		.admin-name {
			text-align: center;
			font-size: 17pt;
		}
	}

	#tools {
		padding: 10px;
	}
}

#center-panel {
	flex: 1;
	display: flex;
	flex-direction: column;

	border-bottom: var(--border);
}

#field {
	display: flex;
	flex-direction: column;
	flex: 1;
	margin: 30px;
	height: 1px;
}

#answer-text {
	color: white;
	font-weight: 600;
	text-align: center;

	background: #5959cf;
	border-radius: 10px;
	padding: 10px;
	margin-bottom: 10px;
}

#questions {
	display: flex;
	flex-direction: column;
	align-items: flex-start;

	.theme-line {
		display: flex;
		justify-content: center;
		height: 100px;
		
		overflow: hidden;

		color: white;
		font-family: FtAnimaRegular;
		font-size: 16pt;
		font-weight: 600;

		user-select: none; /* Standard syntax */

		.theme-name {
			position: relative;
			display: flex;
			justify-content: center;
    		align-items: center;

			width: 300px;
			background: #7979ff;
			color: white;
			
			padding: 0 10px 0 10px;
			text-wrap: balance;
			text-align: center;

			z-index: 1;

			&:before {
				content: "";
				position: absolute;
				bottom: 0;
				left: 5%;
				width: 90%;
				height: 2px;
				background: rgba(0, 0, 0, 0.15);
			}
		}

		.price {
			position: relative;
			display: flex;
	    	justify-content: center;
    		align-items: center;

    		width: 120px;
    		margin: 3px 0;

    		transition: background 0.2s ease;

			background: rgb(220, 220, 220);
			color: rgba(50, 50, 50, 1.0);

			&:before {
				content: "";
				position: absolute;
				right: 0;
				top: 25%;
				width: 2px;
				height: 50%;
				background: rgba(0, 0, 0, 0.1);
			}

			&:last-of-type {
				border-radius: 0 20px 20px 0;
				&:before {
					content: none;
				}
			}

			&.answered {
				background: rgb(180, 180, 180);
				color: rgba(120, 120, 120, 1.0);
			}

			.can-choose-price &:hover{
				background: rgba(240, 240, 240, 1);
				cursor: pointer;
			}

			&.selected {
				animation: 0.5s infinite ease-in-out selectedAnimation;

				@keyframes selectedAnimation {
					50% {
						background: rgb(100, 220, 100);
					}
				}
			}
		}

		&:first-child {
			height: 100px;
			.theme-name{
				border-radius: 20px 0 0 0;
			}
			.price {
				margin-top: 0;
			}
		}

		&:last-child {
			height: 100px;
			.theme-name{
				border-radius: 0 0 0 20px;
				&:before {
					content: none;
				}
			}
			.price {
				margin-bottom: 0;
			}
		}

		div:nth-of-type(2) {
			margin-left: -20px;
			padding-left: 20px;
			box-shadow: inset 24px 0px 4px -2px rgba(0, 0, 0, 0.3);
		}
	}
}

#image-question {
	width: 100%;
	height: 100%;
	display: none;
	flex: 1;
	
	#image-content {
		width: 100%;
		height: 100%;
		background-size: contain;
		background-position: center;
		background-repeat: no-repeat;
	}
}

#text-question {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	display: none;
	flex: 1;

	#text-content {
		color: white;
		font-size: 40pt;
		font-weight: 600;
		text-align: center;

		background: #5959cf;
		padding: 40px;
		border-radius: 10px;
	}
}

#music-question {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	display: none;
	flex: 1;

	#music-content {
		display: flex;
		gap: 40px;
		flex-direction: column;

		color: white;
		font-size: 40pt;
		font-weight: 600;
		text-align: center;

		background: #5959cf;
		padding: 40px;
		border-radius: 10px;
	}
}

#players {
	display: flex;
	justify-content: center;
	gap: 60px;

	padding: 10px 0;

	.player {
		width: 150px;
		height: auto;
		overflow: hidden;
		
		display: flex;
		flex-direction: column;

		&.has-status {
			.player-status {
				translate: 0 0%;
			}
		}

		.player-status {
			display: flex;
			justify-content: center;
	    	align-items: center;
	    	box-sizing: border-box;

	    	font-family: FtAnimaRegular;
	    	font-weight: 600;

			border-radius: 10px 10px 0 0;
	    	margin-bottom: -10px;
	    	padding-bottom: 10px;
	    	z-index: -1;

			height: 45px;

			translate: 0 100%;
			transition: translate 0.5s ease;
		}

		.player-info {
			background: rgba(240, 240, 240, 1);
			border-radius: 10px;
			box-shadow: 0 0 2px 3px rgba(0, 0, 0, 0.2);

			.player-image {
				background: url("http://fooxboy.ru:3000/avatars/78afb4bd-1ff8-4d81-8975-715cdc5884fe.png");
				background-size: cover;
				border-radius: 999px;

				margin: 15px;
				box-sizing: border-box;
				aspect-ratio: 1/1;
			}

			.player-name {
				text-overflow: ellipsis;
				white-space: nowrap;
				overflow: hidden;

				text-align: center;
				font-size: 14pt;
				padding: 0 10px 10px 10px;
			}
		}

		.player-score {
			display: flex;
			justify-content: center;
	    	align-items: center;

	    	border-radius: 0 0 10px 10px;
	    	margin-top: -10px;
	    	padding-top: 10px;
	    	z-index: -1;

			height: 45px;
			font-family: segments;
			border-top: 1.5px solid rgba(0, 0, 0, 0.15);

			background: rgba(0, 60, 0, 1);
			color: rgba(0, 240, 0, 1);
			border: 2px solid rgba(0, 80, 0, 1);

			box-sizing: border-box;
		}
	}
}


.right.side-panel {
	display: flex;
	align-items: flex-end;
	justify-content: center;
	padding: 15px;

	.answer-button {
		width: 100%;
		height: 100px;
		display: flex;
		justify-content: center;
		align-items: center;

		color: white;
		background: grey;
		border-radius: 10px;

		font-family: FtAnimaRegular;
		font-size: 18pt;

		transition: background ease 0.4s, box-shadow ease 0.4s;

		.can-answer & {
			background: #de4d43;
			box-shadow: 0 0 10px 5px #de4d4388;
			cursor: pointer;
		}
	}
}