#login-pane {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 15px;
	box-shadow: 0 0 20px 2px black;

	background: var(--background);
	margin: 100px 0;
	height: calc(100% - 200px);
	box-sizing: border-box;

	#texts {
		width: 600px;;
		display: flex;
		flex-direction: column;
		align-items: flex-start;

		#title {
			font-weight: 400;
			font-size: 55pt;
			margin-bottom: 20px;
			letter-spacing: -2px;
		}
		#description {
			font-size: 11pt;
			margin-bottom: 35px;
		}
	}

	#image {
		display: grid;
		justify-items: center;
		align-items: center;
		gap: 20px;

		#user-icon {
			grid-row: 1;
			grid-column: 1;

			position: relative;
			border-radius: 15px;
			width: 230px;
			aspect-ratio: 1/1;
			border-radius: 999px;
			background: var(--user-image);
			background-size: cover;
			cursor: pointer;
		}

		#user-name-field {
			grid-row: 2;
			grid-column: 1;
			width: 100%;
		}

		#next-button {
			grid-row: 2;
			grid-column: 2;

			width: 35px;
			height: 35px;
			padding: 0;
			line-height: 4px;
		}
	}
}