@font-face {
	font-family: FtAnimaRegular;
	src: url(resources/fonts/FtAnimaRegular.otf);
}

@font-face {
	font-family: Led;
	src: url(resources/fonts/led_8x6.ttf);
}

@font-face {
	font-family: Segments;
	src: url(resources/fonts/segments.ttf);
}

* {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

html, body {
	height: 100%;
}

body {
	//--user-image: url("resources/empty-user-icon.png");

	--background: white;
	--button: rgb(26, 108, 254);
	--button-color: white;
	--button-hover: rgb(0, 80, 230);
	--button-1: rgb(133, 177, 252);
	--textfield: white;
	--textfield-border: 1.5px solid rgb(26, 108, 254);

	background: url("resources/background.jpg");
	background-size: cover;
	backdrop-filter: blur(20px);
}

body > * {
	width: 100%;
	height: 100%;
	position: absolute;
}

.button {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 5px;

	color: var(--button-color);
	background: var(--button);
	padding: 10px 15px;
	cursor: pointer;
	border-radius: 999px;
	transition: background 0.3s;

	&:hover{
		background: var(--button-hover);
		box-shadow: 0 0 10px 1px rgba(0, 0, 255, 0.1);
	}

	&.secondary {
		background: transparent;
		border: 1.5px solid var(--button);
		color: var(--button);

		& > svg {
			color: var(--button);
		}
	}
}

.textfield {
	border-radius: 7px;
	padding: 8px;
	background: var(--textfield);
	border: var(--textfield-border);
	outline: 0;
}